<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MediumClone | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %} ">
</head>
<body>
<header>
    <nav>
        {% include 'global_templates/pagination.html' %}
    </nav>
</header>
<h1>Wellcome to medium-clone</h1>
    <div class="container">

        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}

        {% block body %}
        {% endblock %}
    </div>
</body>
</html>