    {% if not user.is_authenticated %}
        <form action="{% url 'login' %}" method="GET">
            <input type="submit" value="login">
        </form>
        <form action="{% url 'register' %}" method="GET">
            <input type="submit" value="register">
        </form>
    {% else %}
        <form action="{% url 'logout' %}" method="GET">
            <input type="submit" value="logout">
        </form>
        <form action="{% url 'own-article-list' %}" method="GET">
            <input type="submit" value="my articles">
        </form>
        <form action="{% url 'article-create' %}" method="GET">
            <input type="submit" value="create article">
        </form>
        <form action="{% url 'edit-profile' %}" method="GET">
            <input type="submit" value="edit profile">
        </form>
    {% endif %}